section.box{
  background:  url(../images/bg-intro-desktop.png), linear-gradient(-90deg, rgba($primary-red-color, .2), rgba($primary-red-color, 1));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 18px 50px -10px;
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 3rem auto 2rem;
  padding: 5rem;
  @media (max-width:$Tablet) {
    background:  url(../images/bg-intro-mobile.png), linear-gradient(-90deg, rgba($primary-red-color, 1), rgba($primary-red-color, 1));
    flex-direction: column;
    width: 100vw;
    padding:5rem 2rem;
    margin: 0;
  }
}