$primary-red-color:hsl(0, 100%, 74%) ;
$primary-green-color:hsl(154, 59%, 51%) ;
$accent-blue-color: hsl(248, 32%, 49%);
$neutral-dark-blue-color: hsl(249, 10%, 26%) ;
$neutral-grayish-blue-color: #b9b6d3;
$purple:#5c55a5;
$white:#f5f5f5;
$black:#222;


$border-radius:.5rem;